In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
page = requests.get("https://www.lyrics.com/artist/Everlast/15022") # hole Response-Objekt

### Parsing HTML

In [3]:
print(page.status_code) # 200 bedeutet, dass die Anfrage erfolgreich war

200

In [4]:
html = page.text  # Inhalt in unicode

In [5]:
soup = BeautifulSoup(html,"html.parser")
#print(soup.prettify()) # mit 'prettyfy' - übersichtlicherer Code. Auskommentiert, da zu große Ausgabe

In [6]:
lyric = []
for i in soup.find_all('h3'): #in <h3> wird relevanter Text gegeben
    #time.sleep(5)
    lyric.append(i.text) # text damit nur text ausgegeben wird
    #print(i.text)

In [7]:
"""Alternative Weise Albentitel und Erscheinungsjahre abzurufen"""
lyrics = []
for label in soup.select('.artist-album-label'):
    year = label.select_one('.year').text
    name = label.select_one('a').text
    
    lyrics.append({'Year': year[1:5], 'Song': name})
    if year in lyrics:
        year = year
    print(year)
    print(name)

[2014]
The Box Set Series
[2014]
The Grandmaster Flash Collection
[2013]
Playlist: The Very Best of Mobb Deep
[2013]
The Life Acoustic
[2012]
More Songs of the Ungrateful Living
[2011]
Songs of the Ungrateful Living
[2011]
Songs of the Ungrateful Living [f.y.e. Exclusive 2-CD Set]
[2010]
Greatest Hits: Ten Years of Turmoil
[2010]
Rise Up
[2010]
The Music of Run DMC
[2009]
Armed to the Teeth
[2008]
Folsom Prison Blues
[2008]
Hamlet 2 [Soundtrack]
[2008]
Love, War and the Ghost of Whitey Ford
[2008]
Love, War and the Ghost of Whitey Ford [Clean]
[2008]
Love, War and the Ghost of Whitey Ford [Europe]
[2007]
Big Shiny 90s
[2007]
Das Perfekte Dinner 2
[2007]
Modern Rock Number 1s
[2007]
Ultimate Santana
[2007]
Ultimate Santana [Import]
[2006]
Black Magic
[2006]
Buzz Ballads [Single Disc]
[2006]
Kuschelrock, Vol. 20
[2006]
Put Me On
[2005]
All That Alternative
[2005]
All That Hip-Hop
[2005]
All the Beer Songs
[2005]
Buzz Ballads, Vol. 2 [2005]
[2005]
Sk8er Rock
[2005]
Whatever: The '90s Pop and Culture Box
[2004]
Live in Concert from the Playboy Mansion
[2004]
Shamrocks and Shenanigans: The Best of House of Pain and Everlast
[2004]
The Buzz [Razor & Tie]
[2004]
White Trash Beautiful
[2004]
White Trash Beautiful [Japan Bonus Track]
[2003]
Rahzel's Greatest Knockouts
[2001]
Ali [Original Soundtrack]
[2001]
New Old Songs
[2001]
Space Boogie: Smoke Oddessey
[2001]
Stimulated, Vol. 1
[2000]
Black and White
[2000]
Black and White [Clean]
[2000]
Eat at Whitey's
[2000]
Fetenhits: Party Rock Classics
[2000]
Indie 2000, Vol. 5
[2000]
Loud Rocks
[2000]
Loud Rocks [Clean]
[2000]
Rap Mania: The Roots of Rap [Video/DVD]
[2000]
Take a Bite Outta Rhyme
[2000]
Woodstock 1999, Vol. 2: Blue Album
[1999]
A Prince Among Thieves
[1999]
Balance
[1999]
Black Mask
[1999]
Bootleg Live On-Air: Boston WAAF
[1999]
Bootleg Live On-Air: Detroit WRIF
[1999]
Bootleg Live On-Air: Generic Version
[1999]
Bootleg Live On-Air: Harrisburg, PA WTPA
[1999]
Bootleg Live On-Air: New Orleans WCKW
[1999]
Bootleg Live On-Air: Portland, OR KUFO
[1999]
Bootleg Live On-Air: Seattle KISW
[1999]
Bootleg Live On-Air: Washington D.C. WWDC
[1999]
Bootleg Live on-Air: St.Louis WXTM
[1999]
Bravo Hits, Vol. 25
[1999]
Crossing All Over, Vol. 10
[1999]
Crown Royal
[1999]
Defenders of the Underworld
[1999]
End of Days
[1999]
Mod Squad
[1999]
Sex, Candy, & The Intergalactic Dope Show
[1999]
Supernatural
[1999]
Supernatural [Bonus Track]
[1999]
Supernatural [Legacy Edition]
[1999]
The Best of KROQ's Almost Acoustic Christmas
[1999]
The Mod Squad
[1999]
Today (Watch Me Shine) [EP]
[1999]
Today (Watch Me Shine) [US CD Single]
[1999]
WBCN Naked 2000
[1999]
Woodstock 1999
[1998]
Whitey Ford Sings the Blues
[1998]
Whitey Ford Sings the Blues [Clean]
[1998]
Whitey Ford Sings the Blues [Japan Bonus Track]
[1997]
Gravesend
[1994]
Funktastic Jams
[1990]
Forever Everlasting
[1990]
Tommy Boy Greatest Hits [2003]

AttributeError: 'NoneType' object has no attribute 'text'

In [ ]:
df = pd.DataFrame(lyrics)# als DataFrame, um besser auszusortieren usw
df

### Texte

Ich suche die Liedertexte die möglichst von einem Songwriter geschrieben wurden. Danach trainiere ich die Modelle, die den Autor nach dem Liedertext erkennen können.

In [8]:
page = requests.get('https://www.lyrics.com/lyric/29598234/Everlast/Weakness')
ever = page.text
everlast_soup = BeautifulSoup(ever, 'html.parser')
everlast = everlast_soup.find('pre', attrs = {'id' : 'lyric-body-text'}).text.replace("\'", " ").replace("\n", " ")
everlast

'Met a fine red boned mami, she told me that her name was Lucille Met her on Fountain Avenue sitting on a Cadillac Coupe de Ville She said I m a liar, a thief, a junkie and I used to be a whore And I ve been trying to shake this monkey so long I just can t take it no more  I got a weakness, I got a hunger, I got a jones I m sick and I need to get well, I hurt deep in my bone I got a weakness, I got a fever, I got a thirst I m sitting on the edge of the bubble Just waiting for it to burst?  We talked all afternoon, she made me cry, I told some jokes She looked me deep in my eyes and told me love was nothing but a cruel hoax Her grandmother died when she was five and she never did know her folks Her father fell in a gun fight and her mother by an overdose  I got a weakness I got a hunger, I got a jones I m sick and I need to get well, I hurt deep in my bones I got a weakness, I got a fever, I got a thirst I m sitting on the edge of the bubble Just waiting for it to burst  She said I ve slept with gangsters, thugs and smugglers, congressman and governors I ve seen therapists and holy men but this weakness is my only friend It feeds my need it numbs my soul, it starts to creep and takes control Sell my flesh I pierce my skin And tomorrow I ma do it all again  I got a weakness I got a hunger I got a jones I m sick and I need to get well I hurt deep in my bones. I got a weakness, I got a fever, I got a thirst, I m sitting on the edge of the bubble Just waiting for it to burst?'

### Funktion

In [9]:
"""Funktion, die mir einen klaren Text abruft"""
def gib_text(link):
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'html.parser')
    text = soup.find('pre', attrs = {'id' : 'lyric-body-text'}).text.replace("\'", " ").replace("\n", " ")
    return text

In [10]:
everlast1 = gib_text('https://www.lyrics.com/lyric/29598235/Everlast/Stone+in+My+Hand')
everlast1

'Ride with the devil, hide with the lord I got no pistol, ain t got no sword I got no army, ain t got no land, Ain t got nothing but the stone that s in my hand Stone in my hand, stone in my hand Ain t got nothing but the stone that s in my hand  You say you want a revolution, well get on board We ll start a new crusade; we ll start a holy war Don t need no orders, don t need no plan I don t need nothing but the stone that s in my hand  Stone in my hand, stone in my hand I don t need nothing but the stone that s in my hand Stone in my hand, stone in my hand I don t need nothing but the stone that s in my hand  You build your fighter jets, you drop your bombs You kill our fathers, you kill our moms You kill our brother and our sisters, and our uncles and our aunts Still I m fighting with the stone that s in my hand  Stone in my hand, stone in my hand Still I m fighting with the stone that s in my hand Stone in my hand, stone in my hand All the love that s in my heart and the stone that s in my hand  Blood runs in the gutters, smoke fills the sky Every son that suffers, every mother cries So if you ve had enough and you re ready for your stand I ll be waiting with the stone that s in my hand  Stone in my hand, stone in my hand I ll be waiting with the stone that s in my hand Stone in my hand, stone in my hand All the love that s in my heart and the stone that s in my hand'

In [11]:
everlast2 = gib_text('https://www.lyrics.com/lyric/29598232/Everlast/Stay')
#everlast2

In [12]:
everlast3 = gib_text('https://www.lyrics.com/lyric/14925415/Everlast/Let+It+Go')
#everlast3

In [13]:
"""LP- Laura Pergolizzi schreibt oft ihre Texte zusammen mit anderen Autoren, ich nehme möglichst die gleichen"""

lp = gib_text('https://www.lyrics.com/lyric/30783186/LP/Forever+for+Now')# Laura Pergolizzi
#lp

In [14]:
lp1 = gib_text('https://www.lyrics.com/lyric/33551266/LP/Lost+on+You')#Laura Pergolizzi, Nathaniel Campany, Michael Gonzales
#lp1

In [15]:
lp2 = gib_text('https://www.lyrics.com/lyric/33972293/LP/When+We%27re+High')#Laura Pergolizzi, Nathaniel Campany, Mike del Rio
#lp2

In [16]:
lp3 = gib_text('https://www.lyrics.com/lyric/35768667/LP/Girls+Go+Wild')# Laura Pergolizzi, Michael Gonzalez, Nathaniel Campany
#lp3

In [17]:
lp4 = gib_text('https://www.lyrics.com/lyric/33925842/LP/Other+People') #  Laura Pergolizzi, Nathaniel Campany, Benjamin Joseph Romans
lp4

'I never tried to be a hero You took us from the stars to zero  We had a love devout without a shred of doubt We never worried  bout other people You broke the spell and wanted something else Well, go f*ck yourself with other people Other people  No more song, no more dance, no dance floor We left it all to chance, no encore  We had a love devout without a shred of doubt We never worried  bout other people You broke the spell and wanted something else Well, go f*ck yourself with other people  Oh, baby it s just your body Go, lay it on everybody They won t be there when you re sorry Other people Oh, baby it s just your body Will it know that you love somebody Who won t be there when you re sorry? Other people  Thank you baby, thank you babe Darling don t explain, don t explain Thank you baby, thank you babe Darling don t explain, don t explain  We had a love devout without a shred of doubt We never worried  bout other people You broke the spell and wanted something else Well, now go f*ck yourself with other people  Oh, baby it s just your body Go, lay it on everybody They won t be there when you re sorry Other people Oh, baby it s just your body Will it know that you love somebody Who won t be there when you re sorry? Other people Other people Other people'

### Build a Lyrics Corpus

In [18]:
X_train = [everlast, everlast1, everlast2, everlast3, lp, lp1, lp2, lp3]
X_test = [lp4] 
y_train = ['Everlast', 'Everlast', 'Everlast', 'Everlast', 'LP', 'LP', 'LP', 'LP']
y_test = ['LP']

### Vectorizing
#### Stop_words

In [19]:
from sklearn.feature_extraction.text import CountVectorizer# konventiere Text in eine Matrix

In [20]:
cv = CountVectorizer(stop_words='english') 
cv

CountVectorizer(stop_words='english')

In [21]:
cv.fit(X_train)                    
out_train = cv.transform(X_train)

out_test = cv.transform(X_test)

In [22]:
out_train.todense()
out_test.todense()
out_test.shape

(1, 379)

#### Sparse matrix

In [23]:
df = pd.DataFrame(out_train.todense(), columns = cv.get_feature_names())
df

,accept,afternoon,ago,ain,anymore,apology,army,ascending,ass,aunts,...,wishin,won,wondering,word,work,worst,wound,yeah,year,years
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,4,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,4,0,0,0,1,0
4,0,0,0,0,2,0,0,1,0,0,...,0,3,0,1,0,0,0,0,0,0
5,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,10,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,2,0,0

In [24]:
df_test = pd.DataFrame(out_test.todense(), columns = cv.get_feature_names())
df_test

,accept,afternoon,ago,ain,anymore,apology,army,ascending,ass,aunts,...,wishin,won,wondering,word,work,worst,wound,yeah,year,years
0,0,0,0,0,0,0,0,0,0,0,...,0,4,0,0,0,0,0,0,0,0

## Tf-Idf (Normalization)

In [25]:
from sklearn.feature_extraction.text import TfidfTransformer #Ziel - die Auswirkungen von Token zu verringern, die in einem bestimmten Korpus sehr häufig auftreten

In [26]:
tf = TfidfTransformer()
transformed_train = tf.fit_transform(out_train)

tdf = pd.DataFrame(transformed_train.todense(), columns = cv.get_feature_names())
tdf

,accept,afternoon,ago,ain,anymore,apology,army,ascending,ass,aunts,...,wishin,won,wondering,word,work,worst,wound,yeah,year,years
0,0.000000,0.051029,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.090709,0.000000,0.000000,0.027059,0.000000,0.000000,0.027059,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.075344,0.000000,0.000000,0.000000,0.126288,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.075344,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.040182,0.000000,0.047945,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.19178,0.000000,0.000000,0.000000,0.047945,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.166203,0.000000,0.000000,0.099157,0.000000,0.000000,...,0.000000,0.249305,0.000000,0.099157,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.034001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.034001,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.034001
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.038797,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.038797,0.038797,0.325153,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.046807,0.000000,0.000000,0.00000,0.000000,0.000000,0.093613,0.000000,0.000000

In [27]:
transformed_test = tf.fit_transform(out_test)
tdf_test = pd.DataFrame(transformed_test.todense(), columns = cv.get_feature_names())
tdf_test

,accept,afternoon,ago,ain,anymore,apology,army,ascending,ass,aunts,...,wishin,won,wondering,word,work,worst,wound,yeah,year,years
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.318223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Naive Bayes Classifier

In [28]:
from sklearn.naive_bayes import MultinomialNB
X_tr = tdf.values
X_te = tdf_test.values

In [29]:
m = MultinomialNB(alpha = 0.01)
m.fit(X_tr,y_train)
m.score(X_tr,y_train)

1.0

In [30]:
m.predict_proba(X_tr).round(5)

array([[1.0000e+00, 0.0000e+00],
       [9.9961e-01, 3.9000e-04],
       [9.9997e-01, 3.0000e-05],
       [9.9999e-01, 1.0000e-05],
       [0.0000e+00, 1.0000e+00],
       [1.3000e-04, 9.9987e-01],
       [1.0000e-05, 9.9999e-01],
       [2.0000e-05, 9.9998e-01]])

In [31]:
y_pred = m.predict(X_tr)
y_pred_test = m.predict(X_te) #als Test ist Text von LP


m.predict_proba(X_te).round(3)
print(y_pred_test)

['LP']

In [32]:
print(y_pred_test)
print('Text definiert als Text von ' + str(y_pred_test))

['LP']
Text definiert als Text von ['LP']

##### + Elton John (mit Bernie Taupin)

In [33]:
elton = gib_text('https://www.lyrics.com/lyric/36200006/Elton+John/Skyline+Pigeon')
#elton

In [34]:
elton1 = gib_text('https://www.lyrics.com/lyric/36200004/Elton+John/Rocket+Man+%28I+Think+It%27s+Going+to+Be+a+Long%2C+Long+Time%29')
#elton1

In [35]:
elton2 = gib_text('https://www.lyrics.com/lyric/36200003/Elton+John/Don%27t+Let+the+Sun+Go+Down+on+Me')
#elton2

In [36]:
elton3 = gib_text('https://www.lyrics.com/lyric/36200002/Elton+John/Goodbye+Yellow+Brick+Road')
#madonna3

In [37]:
elton4 = gib_text('https://www.lyrics.com/lyric/36200001/Elton+John/Candle+in+the+Wind')
#elton4

In [38]:
"""Build a Lyrics Corpus"""

Xm_train = [everlast, everlast1, everlast2, everlast3, lp, lp1, lp2, lp3, elton, elton1, elton2, elton3]
Xm_test = [elton4] 
ym_train = ['Everlast', 'Everlast', 'Everlast', 'Everlast', 'LP', 'LP', 'LP', 'LP', 'Elton', 'Elton', 'Elton', 'Elton']
ym_test = ['Elton']

In [39]:
""" Vectorizing
                Stop_words"""

cv_m = CountVectorizer(stop_words='english')

cv_m.fit(Xm_train)                    
out_train_m = cv_m.transform(Xm_train)

out_test_m = cv_m.transform(Xm_test)

In [40]:
out_train_m.todense()
out_test_m.todense()
out_test_m.shape
#out_train_m.shape

(1, 539)

In [41]:
"""Sparse matrix"""

df_m = pd.DataFrame(out_train_m.todense(), columns = cv_m.get_feature_names())
df_m

,accept,aching,afternoon,ago,ah,ain,allow,anymore,apology,army,...,work,world,worst,wound,yeah,year,years,yellow,young,zero
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,4,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,...,4,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,10,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11,0,0,0,0,8,1,0,0,0,0,...,0,0,0,0,0,0,0,4,1,0

In [42]:
df_test_m = pd.DataFrame(out_test_m.todense(), columns = cv_m.get_feature_names())
df_test_m

,accept,aching,afternoon,ago,ah,ain,allow,anymore,apology,army,...,work,world,worst,wound,yeah,year,years,yellow,young,zero
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [43]:
""" Tf-Idf (Normalization) """

tf_m = TfidfTransformer()
transformed_train_m = tf_m.fit_transform(out_train_m)

tdf_m = pd.DataFrame(transformed_train_m.todense(), columns = cv_m.get_feature_names())
tdf_m

,accept,aching,afternoon,ago,ah,ain,allow,anymore,apology,army,...,work,world,worst,wound,yeah,year,years,yellow,young,zero
0,0.000000,0.000000,0.051712,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.073935,0.00000,0.000000,0.000000,0.027144,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
2,0.078408,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.134675,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.032611,0.00000,0.000000,0.047892,0.000000,...,0.191568,0.000000,0.000000,0.000000,0.000000,0.047892,0.000000,0.000000,0.00000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.170620,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
5,0.000000,0.000000,0.000000,0.036772,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.036772,0.000000,0.00000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.043142,0.043142,0.327290,0.000000,0.000000,0.000000,0.00000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.084876,0.000000,0.000000,0.000000,0.00000,0.000000
8,0.000000,0.053567,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.053567,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.022260,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.032691
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.22765,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.057568,0.000000,0.000000,0.000000,0.00000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.521522,0.044390,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.260761,0.06519,0.000000

In [44]:
transformed_test_m = tf_m.fit_transform(out_test_m)
tdf_test_m = pd.DataFrame(transformed_test_m.todense(), columns = cv_m.get_feature_names())
tdf_test_m

,accept,aching,afternoon,ago,ah,ain,allow,anymore,apology,army,...,work,world,worst,wound,yeah,year,years,yellow,young,zero
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.095346,0.0

In [45]:
"""Naive Bayes Classifier"""
X_tr_m = tdf_m.values
X_te_m = tdf_test_m.values

In [46]:
m_m = MultinomialNB(alpha = 0.01)
m_m.fit(X_tr_m,ym_train)
m_m.score(X_tr_m,ym_train)

1.0

In [47]:
m_m.predict_proba(X_tr_m).round(5)

array([[0.0000e+00, 1.0000e+00, 0.0000e+00],
       [3.4000e-04, 9.9925e-01, 4.1000e-04],
       [1.0000e-05, 9.9996e-01, 3.0000e-05],
       [0.0000e+00, 9.9999e-01, 1.0000e-05],
       [0.0000e+00, 0.0000e+00, 1.0000e+00],
       [6.0000e-04, 1.5000e-04, 9.9925e-01],
       [6.0000e-05, 1.0000e-05, 9.9993e-01],
       [0.0000e+00, 2.0000e-05, 9.9997e-01],
       [9.9999e-01, 0.0000e+00, 0.0000e+00],
       [9.9980e-01, 1.6000e-04, 3.0000e-05],
       [9.9999e-01, 0.0000e+00, 1.0000e-05],
       [1.0000e+00, 0.0000e+00, 0.0000e+00]])

In [48]:
y_pred_m = m_m.predict(X_tr_m)
y_pred_test_m = m_m.predict(X_te_m)


m_m.predict_proba(X_te_m).round(3)

array([[0.896, 0.089, 0.015]])

In [49]:
print(y_pred_test_m)

['Elton']